<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcolor.core.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.newcolor.core.pojo.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="qq" jdbcType="VARCHAR" property="qq" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    </resultMap>

    <select id="findById" resultType="com.newcolor.core.pojo.User">
        select * from user where id = #{id}
    </select>

    <select id="findByName" parameterType="string" resultType="com.newcolor.core.pojo.User">
        select * from user where name = #{name}
    </select>

    <select id="findByNameAndPwd" parameterType="string" resultType="com.newcolor.core.pojo.User">
        select * from user where name = #{name} and password = #{password}
    </select>

    <select id="findUsers" parameterType="string" resultType="com.newcolor.core.pojo.User">
        select * from user
    </select>

</mapper>